@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800&display=swap');

:root{
    --color-headlines: #01404eab;
    --color-button:#F1A48A;
    --color-button-hover:#eebfafab;
    --color-button-active:#DA9280;
    --color-font-heavy:#06667D;
    --color-font-light:#EEBFAF;
    --color-card-hover-lightGrey:#b6b6b698;
    --boxShadow-cards:1px 1px 15px 6px rgba(15,23,42,0.59);
    --boxShadow-buttons:-1px 1px 16px 0px #06667D;
    --boxShadow-buttons-active:-1px 1px 16px 0px #eebfafab;
    --textShadow: 2px 2px 5px #06667D;
}

*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.grid_nav{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

nav{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    background-color: var(--color-headlines);
}

nav img{
    height: 110px;
    margin-top: 7px;
}

#buttons_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav_btn{
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-font-light);
    background-color: var(--color-font-heavy);
    border: none;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: var(--boxShadow-buttons);
}

.nav_btn:hover{
    background-color: var(--color-button-hover);
    color: var(--color-font-heavy);
}

.nav_btn.active{
    background-color: var(--color-button-active);
    color: var(--color-font-heavy);
    box-shadow: var(--boxShadow-buttons-active);
    cursor: pointer;
}

#home_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_btn{
    width: 40px;
    height: 40px;
    cursor: pointer;
    background:none;
    border: 2px solid var(--color-font-heavy);
    border-radius: 50%;
}

.home_btn:hover{
    border-color: var(--color-button-hover);
    color: var(--color-button-hover);
}

.slider-container{
    width: 1138px;
    height: 336px;
    margin: 25px auto;
    position: relative;
}

.slider-container svg{
    display:none;
}

.slider {
 margin: 0 auto;
 border-radius: 16px;
 width: 100%;
 height: 100%;
 display: flex;
 overflow-x: hidden;
 scroll-behavior: smooth;
}

.slider-container img{
 width: 1138px;
 min-width: 100%;
 height: 100%;
 object-fit: cover;
}

#previous, #next{
    width: 36px;
    height: 107px;
    border-radius: 0 5px 5px 0px;
    background-color: #ffffff;
    color: #69b2fb;
    

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    top: calc(50% - 54px);
    left: 0px;
    cursor: pointer;
}

#previous svg, #next svg{
    display:initial;
}

#previous{
    box-shadow:2px 0 3px rgb(0 0 0 / 15%);
}

#next{
    border-radius: 5px 0px 0px 5px;
    left: unset;
    right: 0px;
    box-shadow:2px 0 3px rgb(0 0 0 / 15%);
}

.dots-container{
 display: flex;
 justify-content: center;
 margin: -20px auto;
}

.dots-container .dot{
 width: 8px;
 height: 8px;
 border-radius: 50%;
 background-color: #c9c8c8;
 margin: 0 5px;
}

.dots-container .dot.active{
 width: 9px;
 height: 9px;
 background-color: white;
}

.headlines{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    width: 100%;
    background-color: var(--color-headlines);
    margin-bottom: 50px;
}

.headline_text{
    font-size: 36px;
    font-weight: 800;
    color: var(--color-font-light);
    text-shadow: var(--textShadow);
}

#cards_container{
    display: flex;
    justify-content: space-evenly;
}

.card_content{
    padding: 20px;
    width: 260px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid var(--color-card-hover);
    border-radius: 16px;
}

.card_content:hover{
    box-shadow: var(--boxShadow-cards);
    border-width: 1px;
}

.img_content img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.know_title{
    font-size: 24px;
    font-weight: 800;
}

.know_title, .know_text{
    text-align: center;
}

#know_container,#carbon_container{
    margin-bottom: 50px;
}

#carbon_content{
    height: 400px;
}

footer{
    background-color: var(--color-headlines);
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;

    position: relative;
    bottom: 0;

    font-size: 14px;
    font-weight: 500;
}

footer p{
    color: var(--color-font-light);
}

 
h1{
	font-size: 50px;
	vertical-align: midle;
	font-family: 'Inter', sans-serif;
	color: #fff;
   	text-indent: 2ch;
	height: 150px;
	background-size: cover;
 	display: flex;
    align-items: center;   	
    padding: 15px 0;
}

h2{
	text-indent: 6.25ch;
}

.pr{
	text-indent: 11ch;
}

.back1{
	border: 10px outset rgb(5,79,119);
}
.box{
	text-indent: 11ch;
}

#map {
    width: 100%;
    background-color: grey;
}
