@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800&display=swap');

:root{
    --color-headlines-lightBlue: #EFF6FF;
    --color-button-heavyBlue:#22335A;
    --color-button-hover-heavyBlue:#22335ab9;
    --color-button-blueSky:#3B82F6;
    --color-font-heavyGray:#0F172A;
    --color-card-hover-lightGrey:#b6b6b698;
    --boxShadow-cards:1px 1px 15px 6px rgba(15,23,42,0.59);
}

*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

body{
    height: 100vh;
}

.grid_nav{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

nav{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    background-color: var(--color-headlines-lightBlue);
}

nav img{
    height: 110px;
    margin-top: 7px;
}

#buttons_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav_btn{
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: var(--color-font-heavyGray);
    border: none;
    border-radius: 100%;
    box-shadow: -3px 2px 16px 3px rgba(118,160,251,0.57);
    cursor: pointer;
}

.nav_btn:hover{
    background-color: var(--color-button-hover-heavyBlue);
}

.nav_btn.active{
    background-color: var(--color-button-blueSky);
}

#home_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_btn{
    width: 40px;
    height: 40px;
    cursor: pointer;
    background:none;
    border: 2px solid var(--color-font-heavyGray);
    border-radius: 50%;
}

.home_btn:hover{
    border-color: var(--color-button-hover-heavyBlue);
    color: var(--color-button-hover-heavyBlue);
}

footer{
    background-color: var(--color-headlines-lightBlue);
    height: 50px;
    position: fixed;
    bottom: 0;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;

    font-size: 14px;
    font-weight: 500;
}

